In [1]:
import sqlite3
import pandas as pd
import numpy as np
import time
import pickle
from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer
from nltk.tokenize.moses import MosesDetokenizer

from stop_words import get_stop_words
from collections import defaultdict
import gensim
from gensim import corpora, models, similarities
from gensim.models.doc2vec import TaggedDocument,TaggedLineDocument
from gensim.models import Doc2Vec
import gensim.models.doc2vec

In [60]:
conn = sqlite3.connect("volume2/testDB.db")

In [6]:
df = pd.read_sql('SELECT doi,editors,abstract from PLOS_ALL', conn)

In [11]:
df['editors'] = df['editors'].apply(lambda x: x.strip("['])"))

In [12]:
df.head()

,doi,editors,abstract
0,10.1371/journal.pone.0143437,Harriet Wikman,Bone scintigraphies are widely applied for det...
1,10.1371/journal.pone.0096769,Donald A. Robin,Cystic fibrosis common autosomal recessive d...
2,10.1371/journal.pone.0177044,Stephen D. Ginsberg,Alzheimer’ disease neurodegenerative syndrom...
3,10.1371/journal.pone.0033200,Alfons Navarro,PurposeXeroderma pigmentosum group (XPD) code...
4,10.1371/journal.pone.0001814,Mauricio Martins Rodrigues,Class MHC molecules display peptides the cel...

pandas.core.series.Series

In [36]:
df[((df.editors == 'Harriet Wikman') & (df.editors == 'Donald A. Robin'))]

Empty DataFrame
Columns: [doi, editors, abstract]
Index: []

In [39]:
dflist = [df[df.editors == 'Harriet Wikman'],df[df.editors == 'Donald A. Robin']]

In [41]:
df2 = pd.concat(dflist)

In [56]:
df_ed = df.groupby('editors')['abstract'].apply(' '.join)

In [61]:
df_ed.to_sql('ed_concat', conn, if_exists="replace")

In [8]:
df.shape

(218717, 3)

In [62]:
eds = pd.read_sql('SELECT * FROM ed_concat', conn)
eds.head()

               editors                                           abstract
0                                                                 The ...
1    Karl-Wilhelm Koch  Chronic morphine causes the  opioid receptor (...
2         Abhay Pandit  PurposeMultipotent stromal cell (MSC)-based re...
3    Alejandro Almarza  ObjectiveThis study aimed  improve the functio...
4      Alejandro Lucia  AimTo determine whether levels  daytime physic...

In [63]:
eds.shape

(14918, 2)